{% extends 'base.html' %}
{% load static %}
{% block content %}
    <a href="/addStudent/">
        <button class="btn btn-facebook btn-block">添加学生</button>
    </a>
    <a href="/grade/1">
        <button class="btn btn-facebook btn-block">一年级学员</button>
    </a>
    <a href="/grade/2">
        <button class="btn btn-facebook btn-block">二年级学员</button>
    </a>
    <a href="/grade/3">
        <button class="btn btn-facebook btn-block">三年级学员</button>
    </a>
    <a href="/grade/4">
        <button class="btn btn-facebook btn-block">四年级学员</button>
    </a>
    <a href="/grade5/5">
        <button class="btn btn-facebook btn-block">五年级学员</button>
    </a>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>专业</th>
                <th>年级</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td><a href="/stuResource/{{ student.id }}">{{ student.name }}</a></td>
{#                    <td><a href="#"><input type="text" value="{{ student.name }}"/>></a></td>#}
                    <td>{{ student.gender }}</td>
                    <td>{{ student.major }}</td>
                    <td>{{ student.grade }}</td>
                    <td>
                        <button class="btn btn-primary">转班</button>
                        <a class="btn btn-warning" href="/updateStudent/{{ student.id }}">修改</a>
                        <a class="btn btn-danger" href="/dismiss/{{ student.id }}">劝退</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination" style="float:right;margin-right:55px;">
        <label class="paginate_button page-item"><a href="/stu/1" class="page-link">首页</a></label>
        {% for page in page_range %}
            <li class="paginate_button page-item"><a href="/stu/{{ page }}" class="page-link">{{ page }}</a></li>
        {% endfor %}
     <label class="paginate_button page-item"><a href="/stu/101" class="page-link">尾页</a></label>
    </ul>
{% endblock %}